{% load i18n aldryn_forms_tags %}

{% if field %}
{% comment %}
{# available conditions #}
{% if field.field.required %} required{% endif %}
{% if field.errors %} error{% endif %}
{% endcomment %}


<div>
    <label class="custom-switch" for="{{ field.id_for_label }}">
        {% render_form_widget field class="custom-switch-input"%}
        <span class="custom-switch-indicator"></span>
        <span class="custom-switch-description">
            {{ field.label }}
        </span>
        {% if field.field.required %}
        <abbr title="{% trans "Required field" %}">*</abbr>
        {% endif %}
    </label>
</div>

{% if field.errors %}
{% for error in field.errors %}
<div class="text-danger">
    <small>{{ error }}</small>
</div>
{% endfor %}
{% endif %}

{% if field.help_text %}
<p>{{ field.help_text }}</p>
{% endif %}
{% endif %}