{% load aldryn_forms_tags i18n %}

{% if field %}
    <div class="form-group{% if field.field.required %} form-required{% endif %}{% if field.errors %} has-error{% endif %}">
        
        <label class="form-label" for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
            <abbr title="{% trans "Required field" %}">*</abbr>
            {% endif %}
        </label>

        <div class="custom-controls-stacked">
            {% block form_field %}
                {% for choice in field.field.choices %}
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="{{ choice.0 }}" name="{{ field.name }}" id="field-{{ choice.0 }}"
                            {% if choice.0|force_text in field.value|force_text_list %} checked="checked"{% endif %}>
                        <span class="custom-control-label">
                            {{ choice.1 }}
                        </span>
                    </label>
                {% endfor %}
            {% endblock form_field %}
        </div>
        {% block form_field_errors %}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="text-danger">
                <small>{{ error }}</small>
            </div>
            {% endfor %}
            {% endif %}
        {% endblock form_field_errors %}
        {% block form_field_help_text %}
            {% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %}
        {% endblock form_field_help_text %}
    </div>
{% endif %}
