<div class="card text-white bg-dark">
    <div class="card-body">
        <div class="mb-2"><i class="fe fe-file mr-1"></i>
            {% if instance.file_name %}
            {{ instance.file_name }}
            {% else %}
            {{ instance.file_src.label }}
            {% endif %}
        </div>
        <div>
            <a class="btn btn-block btn-success" href="{{ instance.file_src.url }}">
                <i class="fe fe-download mr-2"></i>
                Descargar
                {% if instance.show_file_size %}
                <span>({{ instance.file_src.size|filesizeformat }})</span>
                {% endif %}
            </a>
        </div>
    </div>
</div>

{% comment %}
# https://github.com/divio/django-filer/blob/master/filer/models/filemodels.py
{{ instance.file_src }}
{{ instance.file_src.extension }}
# Available variables:
{{ instance.template }}
{{ instance.file_name }}
{{ instance.link_target }}
{{ instance.link_title }}
{{ instance.show_file_size }}
{{ instance.attributes_str }}
{% endcomment %}