{% load static cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}" />
        
        <!-- Required for Tabler Dashboard UI -->
        <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/maps-google/plugin.css' %}" rel="stylesheet" />

        <!-- Awesome Fonts-->
        <script src="https://kit.fontawesome.com/f5a6b9b2db.js"></script>

        <!-- XDSoft DateTimePicker -->
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        
        <!-- XDSoft DateTimePicker -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
            integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="page-main bg-dark border-bottom border-info">
            <div class="d-block d-md-none py-2">
                <div class="container">
                    <div class="row h-100 justify-content-center align-items-center">
                        <a class="nav-link icon" href="https://www.facebook.com/sentirse.protegido.9">
                            <i class="fe fe-facebook"></i>
                        </a>
                        <a class="nav-link icon" href="https://twitter.com/MinSegTuc">
                            <i class="fe fe-twitter"></i>
                        </a>
                        <a class="nav-link icon" href="https://www.youtube.com/channel/UC4P6bPOmnVgRL-mf1zFm_rA">
                            <i class="fe fe-play-circle"></i>
                        </a>
                        <a class="nav-link icon" href="https://www.instagram.com/minsegtuc">
                            <i class="fe fe-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

        <nav class="navbar navbar-expand-lg header">
            <div class="container">
                <a class="header-brand pr-5" href="/">
                    <img src="{% static 'assets/images/minsegtuc/0_MINISTERIO DE SEGURIDAD.png' %}" width="240" alt="tabler logo">
                </a>
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#headerMenuCollapse"
                    aria-controls="headerMenuCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="headerMenuCollapse">
                    <ul class="navbar-nav mr-auto nav-tabs border-0 text-dark">
                        {% show_menu 0 100 100 100 "menu/menu.html" %}
                    </ul>
                </div>
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link icon" href="https://www.facebook.com/sentirse.protegido.9">
                            <i class="fe fe-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon" href="https://twitter.com/MinSegTuc">
                            <i class="fe fe-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon" href="https://www.youtube.com/channel/UC4P6bPOmnVgRL-mf1zFm_rA">
                            <i class="fe fe-play-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon" href="https://www.instagram.com/minsegtuc">
                            <i class="fe fe-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- Required for Tabler Dashboard UI -->
        {% addtoblock "js" %}
        <script src="{% static 'assets/js/require.min.js' %}" type="text/javascript"></script>
        <script>
            requirejs.config({
                baseUrl: '/static{{ STATIC_ROOT }}'
            });
        </script>
        <script src="{% static 'assets/js/dashboard.js' %}"></script>
        <script src="{% static 'assets/plugins/charts-c3/plugin.js' %}"></script>
        <script src="{% static 'assets/plugins/maps-google/plugin.js' %}"></script>
        <script src="{% static 'assets/plugins/input-mask/plugin.js' %}"></script>
        <script>
            jQuery.datetimepicker.setLocale('es');
            $(function () {
                $("#datetimepicker").datetimepicker({
                    format: 'd/m/Y H:i',
                    inline: true,
                    lang: 'es',
                });
            });
        </script>
        <script>
            jQuery.datetimepicker.setLocale('es');
            $(function () {
                $("#datepicker").datetimepicker({
                    format: 'd/m/Y H:i',
                    inline: true,
                    timepicker:false,
                });
            });
        </script>
        {% endaddtoblock "js" %}

        <div class="page">
            <div class="flex-fill">
                <div class="my-1">
                    {% block content %}{% endblock content %}
                </div>
                
            </div>
        </div>

    {% render_block "js" %}
    </body>

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    <a class="icon" href="https://www.facebook.com/sentirse.protegido.9">
                                        <i class="fe fe-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon" href="https://twitter.com/MinSegTuc">
                                        <i class="fe fe-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon" href="https://www.youtube.com/channel/UC4P6bPOmnVgRL-mf1zFm_rA">
                                        <i class="fe fe-play-circle"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <a href="mailto:info@minsegtuc.gov.ar" class="btn btn-outline-info btn-sm">Email</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright ©
                    <script type="text/JavaScript">
                    document.write(new Date().getFullYear());
                    </script>
                    <a class="text-white" href=".">Ministerio de Seguridad</a>. Sitio desarrollado por <a class="text-white" href="https://github.com/bruino" target="_blank">Agte. Sarverry Bruno</a>
                </div>
            </div>
        </div>
    </footer>
</html>
