{% load menu_tags %}
{% for child in children %}
<li
    class="child{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %} nav-item dropdown">
    <a class="nav-link {% if child.selected %} active{% endif %}"
        href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" role="button" aria-haspopup="true"
        aria-expanded="false" rel="external">{{ child.get_menu_title }}</a>
    <!-- {% if child.children %}
    <div class="dropdown-menu dropdown-menu-arrow">
        {% show_menu from_level to_level extra_inactive extra_active "menu/sub-menu.html" "" "" child %}
    </div>
    {% endif %} -->
</li>
{% if forloop.last %}
<li
    class="child{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %} nav-item dropdown">
    <a class="nav-link dropdown-toggle"
        data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false" rel="external">Secciones</a>
    <div class="dropdown-menu dropdown-menu-arrow">
        <div class="dropdown-header text-green font-weight-bold"><span class="icon mr-3"><i class="fe fe-globe" style="color: green;"></i></span>Secretaría de Lucha Contra el Narcotráfico</div>
        <a href="../narcotrafico" class="dropdown-item">Institucional</a>
        <a href="../narcotrafico" class="dropdown-item">Denuncia Anónima por Drogas</a>
        <div class="dropdown-divider"></div>
        
        <div class="dropdown-header text-primary font-weight-bold"><span class="icon mr-3"><i class="fe fe-list" style="color: blue;"></i></span>Subsecretaría de Control y Gestión</div>
        <a href="../narcotrafico" class="dropdown-item">Institucional</a>
        <a href="../narcotrafico" class="dropdown-item">Cursos</a>
        <div class="dropdown-divider"></div>
        
        <div class="dropdown-header text-purple font-weight-bold"><span class="icon mr-3"><i class="fe fe-shield" style="color: purple;"></i></span>Seguridad Privada</div>
        <a href="../narcotrafico" class="dropdown-item">Empresas Habilitadas</a>
    </div>
</li>
{% endif %}

{% endfor %}