{% load menu_tags %} 
{% for child in children %}
    <a class="dropdown-item" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" role="button" aria-haspopup="true" aria-expanded="false"
        rel="external">{{ child.get_menu_title }}</a>
    {% if child.children %}
    <ul class="dropdown-menu">
        {% show_menu from_level to_level extra_inactive extra_active "menu/sub-menu.html" "" "" child %}
    </ul>
    {% endif %}
{% endfor %}