{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block newsblog_content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}
                {% placeholder "extra" %}
                <ul class="pagination">
                    {% if prev_article %}
                        <li class="page-item"><a class="page-link" href="{{ prev_article.get_absolute_url }}">{% trans "Previous Article" %}</a></li>
                    {% endif %}
                        <li class="page-item"><a class="page-link" href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a></li>
                    {% if next_article %}
                        <li class="page-item"><a class="page-link" href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                {% static_placeholder "Plugins" %}
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
