{% extends "aldryn_newsblog/base.html" %}
{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

{% block newsblog_content %}
<div class="my-3 my-md-5">
    <div class="container">
        {% placeholder "content" %}
        <div class="row row-cards row-deck">
            {% for article in article_list %}
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="view overlay">
                        {% if article.featured_image_id %}
                        <a href="{{ article.get_absolute_url }}">
                            <img class="card-img-top" src="{% thumbnail article.featured_image 700x450 crop subject_location=article.featured_image.subject_location %}"
                                alt="{{ article.featured_image.alt }}"> 
                        </a>
                        {% endif %}
                    </div>            
                    <div class="card-body d-flex flex-column">
                        <h4>
                            <a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:80 }}</a>
                        </h4>
                        <div class="text-muted">{{ article.lead_in|truncatechars:80 }}</div>
                        <span><i class="fe fe-clock mr-1"></i>{{ article.publishing_date|date }}</span>
                    </div>
                </div>
            </div>
            {% empty %}
                {% trans "No items available" %}
            {% endfor %}
        </div>
        {% include "aldryn_newsblog/includes/pagination.html" %}
    </div>
</div>
{% endblock %}
