{% load cms_tags %}

<fieldset{% if instance.custom_classes %} class="{{ instance.custom_classes }}"{% endif %}>
    {% if instance.legend %}
        <legend>{{ instance.legend }}</legend>
    {% endif %}

    {% for plugin in instance.child_plugin_instances %}
        <div class="form-group">
            {% render_plugin plugin %}
        </div>
    {% endfor %}
</fieldset>
