{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<article class="article
{% if article.is_featured %} featured{% endif %}
{% if not article.published %} unpublished{% endif %}">

    <div class="card">
        <div class="card-status card-status-top bg-primary"></div>
        <div class="card-body">
            {% if article.categories %}
                <div>
                    {% for category in article.categories.all %}
                        {% if forloop.first %}<span><i class="fe fe-bookmark mr-1"></i></span>{% endif %}
                        <b>{{ category.name }}</b>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <br>

            <h1 class="text-primary">
                {% if not detail_view %}
                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
                {% else %}
                {% render_model article "title" %}
                {% endif %}
            </h1>

            <div>
                <span><i class="fe fe-clock mr-1"></i>{{ article.publishing_date|date }}</span>
                <span>
                    <i class="fe fe-share-2 mr-1 ml-3"></i>Compartir:
                    <a class="btn btn-pill btn-outline-primary btn-sm"
                        href="https://www.facebook.com/sharer.php?u=https://minsegtuc.gov.ar/{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                        <i class="fe fe-facebook"></i>Facebook
                    </a>
                    <a class="btn btn-pill btn-outline-info btn-sm ml-2"
                        href="https://twitter.com/home?status=https://minsegtuc.gov.ar/{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                        <i class="fe fe-twitter"></i>Twitter
                    </a>
                </span>
            </div>
        
            <br>
        
            <!-- {% include "aldryn_newsblog/includes/author.html" with author=article.author %}
        
            {% if article.tags %}
                <p>
                    {% for tag in article.tags.all %}
                        <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
                    {% endfor %}
                </p>
            {% endif %}
        
            -->

            {# The image is only shown on the detail view by using the condition "and detail_view" #}
            {% if article.featured_image_id and detail_view %}
            <p>
                <img class="img-fluid" src="{% thumbnail article.featured_image 900x300 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
            </p>
            {% endif %}

            <br>
        
            {% render_model article "lead_in" %}
        
            <hr>
        
            <!--
                {% if detail_view %}
                    {% render_placeholder article.content language placeholder_language %}
                {% endif %}
            -->
        </div>
    </div>

</article>

