{% load i18n %}

{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    {% trans "Previous" %}
                </a>
            </li>
        {% endif %}

        {% if paginator.num_pages > pagination.pages_start %}
            {% if page_obj.number > pagination.pages_visible_total %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:pagination.pages_visible_total_negative }}">...</a></li>
            {% endif %}

            {% for num in paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active"><span>{{ num }}</span></li>
                {% elif num > page_obj.number|add:pagination.pages_visible_total_negative and num < page_obj.number|add:pagination.pages_visible_total %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.number < paginator.num_pages|add:pagination.pages_visible_negative %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:pagination.pages_visible_total }}">...</a></li>
            {% endif %}
        {% else %}
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                {% else %}
                    <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    {% trans "Next" %}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
