{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block newsblog_content %}
<div class="container" style="padding-top: 16px">
    <div class="row">
        <div class="col col-md-8">
            <h3>{% blocktrans with query=query %}Noticias que tienen la/las palabras "<strong>{{ query }}</strong>"{% endblocktrans %}</h3>
            <br>
            
            <ul>
                {% for article in object_list %}
                <li{% if not article.is_published %} class="unpublished" {% endif %}>
                    <small>{{ article.publishing_date|date }}</small>
                    {% for category in article.categories.all %}
                        <span class="badge badge-pill badge-primary">{{ category.name }}</span>
                    {% endfor %}
                    <a href="{% namespace_url "article-detail" article.slug namespace=view.app_config.namespace default='' %}">
                        <h4>{{ article.title }}</h4>
                    </a>
                    <h6>{{ article.lead_in|striptags|truncatewords:"10"|safe }}</h6>
                </li>
    
                <hr>
                {% empty %}    
    
                    {% if query %}
                        <p>{% blocktrans with query=query %}No se encontraron artículos.{% endblocktrans %}</p>
                    {% else %}
                        <p>Ingrese una búsqueda válida.</p>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col col-md-4">
            {% static_placeholder "Plugins" %}
        </div>
    </div>
</div>
{% endblock %}