{% load i18n %}
<form class="input-icon my-3 my-lg-0" action="{{ query_url }}" method="get">
    <input type="text" class="form-control header-search" name="q" id="search-plugin-{{ instance.pk }}" placeholder="{% trans 'Search' %}"
        placeholder="Search&hellip;" tabindex="1">
    <input type="hidden" name="max_articles" value="{{ instance.max_articles }}">
    <div class="input-icon-addon">
        <i class="fe fe-search"></i>
    </div>
</form>