{% load i18n apphooks_config_tags %}

<span{% if not newsblog_category %} class="active"{% endif %}>
    <a class="btn btn-pill btn-sm btn-orange" href="{% namespace_url "article-list" namespace=instance.app_config.namespace default='' %}">{% trans "All" %}</a>
</span>
{% for category in categories %}
    <span{% if newsblog_category.id == category.id %} class="active"{% endif %}>
        <a class="btn btn-pill btn-sm btn-orange" href="{% namespace_url "article-list-by-category" category.slug namespace=instance.app_config.namespace default='' %}">{{ category.name }}</a>
        <!-- <span>{{ category.article_count }}</span> -->
</span>
{% endfor %}
