{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

{% for article in articles_list %}
<div class="card">
    <div class="card-status card-status-top bg-orange"></div>
    <div class="card-body d-flex flex-column">
        <h4>
            <a class="text-primary" href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:80 }}</a>
        </h4>
        <small><i class="fe fe-clock mr-1"></i>{{ article.publishing_date|date }}</small>
    </div>
</div>
{% empty %}
    <p>{% trans "No items available" %}</p>
{% endfor %}
    
