{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<div class="row row-cards row-deck">
    {% for article in article_list %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
            <div class="view overlay">
                {% if article.featured_image_id %}
                <img class="card-img-top" src="{% thumbnail article.featured_image 700x450 crop subject_location=article.featured_image.subject_location %}"
                    alt="{{ article.featured_image.alt }}">
                {% endif %}
            </div>
            <div class="card-body d-flex flex-column">
                <h4>
                    <a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:80 }}</a>
                </h4>
            </div>
            <div class="card-footer">
                <small>{{ article.publishing_date|date }}</small>
            </div>
        </div>
    </div>
    {% empty %}
    {% trans "No items available" %}
    {% endfor %}
</div>